.navbar {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: Lato, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.hero-section {
  height: 600px;
  padding-top: 166px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(306deg, #000 10%, transparent 75%), url('../images/Food-Hero-1260x600.png');
  background-image: linear-gradient(144deg, #000 10%, transparent 75%), url('../images/Food-Hero-1260x600.png');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.logo-txt {
  padding-top: 22px;
  padding-left: 5px;
  float: right;
  color: #444841;
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
}

.logo-txt.footer-tx {
  margin-top: 0px;
  margin-bottom: 14px;
  padding-top: 20px;
  padding-left: 8px;
  color: #d7dec6;
}

.body {
  font-family: Lato, sans-serif;
  color: #000;
}

.nav-link {
  display: inline-block;
  margin-top: 11px;
  padding: 10px;
  -webkit-transition: background-color 600ms ease;
  transition: background-color 600ms ease;
  color: #444841;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  padding: 10px;
  border: 2px solid #f2f800;
  border-radius: 4px;
  background-color: transparent;
  color: #f2f800;
}

.navbar-container {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: auto;
  margin-right: 112px;
  margin-left: 112px;
  text-align: center;
}

.hero-sub-heading {
  width: 60%;
  margin-top: 0px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 100;
  letter-spacing: 1px;
}

.button {
  padding: 14px 40px;
  border: 3px solid #f2f800;
  border-radius: 4px;
  background-color: rgba(242, 248, 0, .28);
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #fff;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgba(242, 248, 0, .76);
}

.hero-heading {
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-container {
  position: relative;
  left: -70px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
}

.main-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: transparent;
}

.main-section.yellow {
  background-color: #f2f800;
  color: #d7dec6;
}

.main-section.lemon {
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
  background-image: url('../images/lemon.png');
  background-position: 100% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.main-section.footer {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #0c0c0c;
}

.about-block {
  padding: 20px;
  text-align: center;
}

.about-image {
  display: inline-block;
  width: 100px;
  background-color: transparent;
}

.about-image.track {
  width: 90px;
}

.main-section-h1 {
  color: #525d63;
  font-weight: 100;
  text-align: center;
}

.about-h3 {
  margin-bottom: 18px;
  color: #525d63;
  font-weight: 400;
}

.about-p {
  margin-top: 0px;
  color: #525d63;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}

.testemonial-h1 {
  margin-top: 6px;
  margin-bottom: 25px;
  float: none;
  color: #444647;
  font-weight: 300;
  text-align: center;
}

.testemonial-h1.sign-up {
  text-align: left;
}

.testimonial-slider {
  height: 300px;
  background-color: transparent;
  color: #444841;
}

.testimonial-block {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.testimonial-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 60px;
}

.testimonial {
  margin-top: 11px;
  margin-bottom: 11px;
  color: #444841;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.testimonial.author {
  color: #9b9e00;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.arrow {
  color: #444841;
}

.sub-head-text {
  width: 60%;
  margin-top: 35px;
  float: none;
  color: #444647;
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  text-align: left;
}

.form-wrapper {
  display: block;
  width: 60%;
  margin-top: 60px;
  padding-top: 0px;
  text-align: left;
}

.pic {
  position: static;
  right: 0px;
  bottom: 0px;
  display: block;
  float: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.apple {
  width: 300px;
  height: auto;
  float: right;
}

.apple-box {
  background-image: url('../images/fruits-wet-water-droplets-lemons-white-background_www.wall321.com_41.jpg');
  background-position: 0px 0px;
  background-size: 300px;
}

.lemon-container {
  position: relative;
  left: -95px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-left: 0px;
  text-align: left;
}

.text-field {
  width: 75%;
  height: 50px;
  float: left;
  border: 3px solid #4b4b49;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.text-field:focus {
  border-color: #4b4b49;
  color: #4b4b49;
}

.submit-btn {
  width: 25%;
  height: 50px;
  border-style: solid;
  border-width: 3px 3px 3px 0px;
  border-color: #4b4b49;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #000;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #f2f800;
}

.footer-link {
  color: #d7dec6;
}

.footer-link.nav-link {
  margin-bottom: 14px;
  float: right;
  text-decoration: none;
}

.nav {
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #f4f7f4;
}

.nav:hover {
  border: 0px solid #000;
}

.link-nav {
  border: 0px solid #000;
  -webkit-transition: background-color 500ms ease, opacity 300ms ease;
  transition: background-color 500ms ease, opacity 300ms ease;
  color: #444841;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.link-nav:hover {
  border: 0px solid #f2f800;
  border-radius: 3px;
  color: #dbe000;
  font-weight: 700;
}

@media (max-width: 991px) {
  .navbar {
    position: static;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: 0px;
    float: none;
  }
  .hero-section {
    padding-top: 76px;
    background-image: -webkit-linear-gradient(287deg, #000 19%, transparent 65%), url('../images/Food-Hero-1260x600.png');
    background-image: linear-gradient(163deg, #000 19%, transparent 65%), url('../images/Food-Hero-1260x600.png');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .nav-link {
    position: relative;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-container {
    left: 15px;
  }
  .menu {
    color: #444841;
  }
  .main-section.lemon {
    background-image: url('../images/lemon.png');
    background-position: 100% 100%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .form-wrapper {
    width: 70%;
  }
  .lemon-container {
    left: 35px;
    padding-right: 134px;
  }
  .text-field {
    font-size: 11px;
  }
  .submit-btn {
    margin-right: 0px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
  }
  .footer-link.nav-link {
    margin-left: 20px;
    padding-top: 17px;
  }
  .menu-btn.w--open {
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: block;
  }
  .hero-section {
    background-image: -webkit-linear-gradient(328deg, #000 16%, transparent 87%), url('../images/Food-Hero-1260x600.png');
    background-image: linear-gradient(122deg, #000 16%, transparent 87%), url('../images/Food-Hero-1260x600.png');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .logo-txt.footer-tx {
    font-size: 15px;
  }
  .hero-sub-heading {
    font-size: 16px;
  }
  .button {
    padding-right: 30px;
    padding-left: 30px;
  }
  .hero-heading {
    font-size: 23px;
    font-weight: 300;
  }
  .menu.w--open {
    position: relative;
    float: right;
    background-color: #f4f7f4;
  }
  .main-section.lemon {
    background-image: url('../images/lemon.png');
    background-position: 100% 100%;
    background-size: auto 70%;
    background-repeat: no-repeat;
  }
  .main-section.footer {
    display: block;
  }
  .about-block {
    padding-right: 80px;
    padding-left: 80px;
  }
  .testemonial-h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
  }
  .sub-head-text {
    margin-top: 0px;
    padding-right: 23px;
    font-size: 19px;
  }
  .form-wrapper {
    position: static;
    display: block;
    padding-left: 0px;
    font-size: 12px;
  }
  .lemon-container {
    left: 31px;
    padding-right: 0px;
  }
  .text-field {
    font-size: 10px;
  }
  .submit-btn {
    padding-right: 8px;
    padding-left: 5px;
  }
  .footer-link.nav-link {
    font-size: 12px;
  }
  .footer-logo {
    float: none;
  }
  .menu-bar {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
  }
}